@{
    ViewData["Title"]="Shopping Cart";
}
<link rel="stylesheet" href="~/css/CatelogStyle.css"/>
<div class="main">
    <h1>Shopping cart</h1>
    @{
        List<Item> items=(List<Item>)ViewData["allItems"];
            <div class="container">
                @foreach(Item item in items)
                {
                    var product=item.product;
                    var quantity=item.Quantity;
                    <div class="cart cartItem">
                        <h2>@product.ProductTitle</h2>
                        <img src="@product.ProductImage" width="150" height="150"/>
                        <p><b>Product id:</b>@product.ProductId</p>
                        <p><b>Product Title:</b>@product.ProductTitle</p>
                        <p><b>Quantity:</b>@quantity</p>
                        <p><b>Unit Price:</b>@product.UnitPrice</p>
                    <a href="/ShoppingCart/Update/@product.ProductId"> <button>Update</button></a>
                    <a href="/ShoppingCart/Delete/@product.ProductId"> <button>Delete</button></a>

                    </div>
                }

            <a href="/OrderProcessing/PlaceOrder/"> <button>Place order</button></a>
            </div>
    }
</div>