
@{
    ViewData["Title"] = "Product details Page";
}
<link rel="stylesheet" href="~/css/CatelogStyle.css" />

<div class="details">
    @* <h1>Product details</h1> *@
    @{

        Product product = (Product)ViewData["productById"];
        <div class="cart">
            @* <h2>@product.ProductName</h2>
            <img src="@product.Image" width="100" height="100" />
            <p><b>ProductId:</b> @product.ProductId</p>
            <p><b>Title: </b>@product.ProductName</p>
            <p><b>Description:</b> @product.Description</p>
            <p><b>Price:</b> @product.UnitPrice</p>
            <p><b>Available stock:</b> @product.Quantity</p>
            <a href="/Products/Update"><button value="details">Update</button></a> *@

            <table>
                <tr>
                    <td> 
                        <table>
                               <tr>
                                <td><h2>@product.ProductTitle</h2></td>
                                </tr>
                            <tr>
                                <td>
                                    <img src="@product.ProductImage" width="100" height="100" />
                                </td>
                            </tr>
                        </table>
                    </td>


                    <td>
                        <table>
                            <tr>
                                <td>
                                     <p><b>ProductId:</b> @product.ProductId</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><b>Title: </b>@product.ProductTitle</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <p><b>Description:</b> @product.Description</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><b>Price:</b> @product.UnitPrice</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><b>Available stock:</b> @product.Quantity</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @* <a href="/Products/Update/@product.ProductId"><button value="details">Update</button></a>  *@
                                    <a href="/ShoppingCart/Insert/@product.ProductId"><button value="details">add to cart</button></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </div>
    }
</div>
